In [52]:
import azureml.core

print("This notebook was created using version 1.0.23 of the Azure ML SDK")
print("You are currently using version", azureml.core.VERSION, "of the Azure ML SDK")

This notebook was created using version 1.0.23 of the Azure ML SDK
You are currently using version 1.0.39 of the Azure ML SDK

In [53]:
import os

subscription_id = os.getenv("SUBSCRIPTION_ID", default="942813ed-26a2-4790-9097-d4be7560fce0")
resource_group = os.getenv("RESOURCE_GROUP", default="ICSE-tutorial")
workspace_name = os.getenv("WORKSPACE_NAME", default="workspace_fresher")
workspace_region = os.getenv("WORKSPACE_REGION", default="eastus2")

In [54]:
from azureml.core import Workspace

try:
    ws = Workspace(subscription_id = subscription_id, resource_group = resource_group, workspace_name = workspace_name)
    # write the details of the workspace to a configuration file to the notebook library
    ws.write_config()
    print("Workspace configuration succeeded.")
except:
    print("Workspace not accessible.")

Workspace configuration succeeded.

### Create compute resources for your training experiments

Many of the sample notebooks use Azure ML managed compute (AmlCompute) to train models using a dynamically scalable pool of compute. In this section you will create default compute clusters for use by the other notebooks and any other operations you choose.

To create a cluster, you need to specify a compute configuration that specifies the type of machine to be used and the scalability behaviors.  Then you choose a name for the cluster that is unique within the workspace that can be used to address the cluster later.

The cluster parameters are:
* vm_size - this describes the virtual machine type and size used in the cluster.  All machines in the cluster are the same type.  You can get the list of vm sizes available in your region by using the CLI command

```shell
az vm list-skus -o tsv
```
* min_nodes - this sets the minimum size of the cluster.  If you set the minimum to 0 the cluster will shut down all nodes while note in use.  Setting this number to a value higher than 0 will allow for faster start-up times, but you will also be billed when the cluster is not in use.
* max_nodes - this sets the maximum size of the cluster.  Setting this to a larger number allows for more concurrency and a greater distributed processing of scale-out jobs.


To create a **CPU** cluster now, run the cell below. The autoscale settings mean that the cluster will scale down to 0 nodes when inactive and up to 4 nodes when busy.

In [55]:
from azureml.core.compute import ComputeTarget, AmlCompute
from azureml.core.compute_target import ComputeTargetException

# Choose a name for your CPU cluster
cpu_cluster_name = "cpucluster"

# Verify that cluster does not exist already
try:
    cpu_cluster = ComputeTarget(workspace=ws, name=cpu_cluster_name)
    print("Found existing cpucluster")
except ComputeTargetException:
    print("Creating new cpucluster")
    
    # Specify the configuration for the new cluster
    compute_config = AmlCompute.provisioning_configuration(vm_size="STANDARD_D2_V2",
                                                           min_nodes=0,
                                                           max_nodes=4)

    # Create the cluster with the specified name and configuration
    cpu_cluster = ComputeTarget.create(ws, cpu_cluster_name, compute_config)
    
    # Wait for the cluster to complete, show the output log
    cpu_cluster.wait_for_completion(show_output=True)

Found existing cpucluster

In [56]:
import azureml.dataprep as dprep

# Load data
Download two different NYC Taxi data sets into dataflow objects. These datasets contain slightly different fields. The method auto_read_file() automatically recognizes the input file type.

In [ ]:
from IPython.display import display

eclipse_2_0_raw = dprep.r

In [14]:
from IPython.display import display
dataset_root = "https://dprepdata.blob.core.windows.net/demo"

green_path = "/".join([dataset_root, "green-small/*"])
yellow_path = "/".join([dataset_root, "yellow-small/*"])

green_df_raw = dprep.read_csv(path=green_path, header=dprep.PromoteHeadersMode.GROUPED)
# auto_read_file automatically identifies and parses the file type, which is useful when you don't know the file type.
yellow_df_raw = dprep.auto_read_file(path=yellow_path)

display(green_df_raw.head(5))
display(yellow_df_raw.head(5))

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type,Column21,Column22
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,0,0,0,0,1,...,0,0,0,0,,21.25,2,,,
2,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,0,0,0,0,2,...,0,0.5,0,0,,75,2,,,
3,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,0,0,0,0,1,...,0.1,0,0,1,,2.1,2,,,
4,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,0,0,0,0,1,...,0,0,0,0,,3.25,2,,,

,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt
0,,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA,NA
1,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,2.6299999999999999,-73.991956999999999,40.721567,,,-73.993803,40.695922000000003,CASH,8.9000000000000004,0.5,,0,0,9.4000000000000004
2,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,4.5499999999999998,-73.982101999999998,40.736289999999997,,,-73.955849999999998,40.768030000000003,Credit,12.1,0.5,,2,0,14.6
3,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,10.35,-74.002587000000005,40.739747999999999,,,-73.869983000000005,40.770225000000003,Credit,23.699999999999999,0,,4.7400000000000002,0,28.440000000000001
4,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,5,-73.974266999999998,40.790954999999997,,,-73.996557999999993,40.731848999999997,CREDIT,14.9,0.5,,3.0499999999999998,0,18.449999999999999

# Cleanse data
Now you populate some variables with shortcut transforms to apply to all dataflows. The drop_if_all_null variable is used to delete records where all fields are null. The useful_columns variable holds an array of column descriptions that are kept in each dataflow.

In [15]:
all_columns = dprep.ColumnSelector(term=".*", use_regex=True)
drop_if_all_null = [all_columns, dprep.ColumnRelationship(dprep.ColumnRelationship.ALL)]
useful_columns = [
    "cost", "distance", "dropoff_datetime", "dropoff_latitude", "dropoff_longitude",
    "passengers", "pickup_datetime", "pickup_latitude", "pickup_longitude", "store_forward", "vendor"
]

In [17]:
green_df = (green_df_raw
    .replace_na(columns=all_columns)
    .drop_nulls(*drop_if_all_null)
    .rename_columns(column_pairs={
        "VendorID": "vendor",
        "lpep_pickup_datetime": "pickup_datetime",
        "Lpep_dropoff_datetime": "dropoff_datetime",
        "lpep_dropoff_datetime": "dropoff_datetime",
        "Store_and_fwd_flag": "store_forward",
        "store_and_fwd_flag": "store_forward",
        "Pickup_longitude": "pickup_longitude",
        "Pickup_latitude": "pickup_latitude",
        "Dropoff_longitude": "dropoff_longitude",
        "Dropoff_latitude": "dropoff_latitude",
        "Passenger_count": "passengers",
        "Fare_amount": "cost",
        "Trip_distance": "distance"
     })
    .keep_columns(columns=useful_columns))
green_df.head(5)

,vendor,pickup_datetime,dropoff_datetime,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,0,0,0,0,1,.00,21.25
1,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,0,0,0,0,2,.00,74.5
2,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,0,0,0,0,1,.00,1
3,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,0,0,0,0,1,.00,3.25
4,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,0,0,0,0,1,.00,8.5

In [18]:

yellow_df = (yellow_df_raw
    .replace_na(columns=all_columns)
    .drop_nulls(*drop_if_all_null)
    .rename_columns(column_pairs={
        "vendor_name": "vendor",
        "VendorID": "vendor",
        "vendor_id": "vendor",
        "Trip_Pickup_DateTime": "pickup_datetime",
        "tpep_pickup_datetime": "pickup_datetime",
        "Trip_Dropoff_DateTime": "dropoff_datetime",
        "tpep_dropoff_datetime": "dropoff_datetime",
        "store_and_forward": "store_forward",
        "store_and_fwd_flag": "store_forward",
        "Start_Lon": "pickup_longitude",
        "Start_Lat": "pickup_latitude",
        "End_Lon": "dropoff_longitude",
        "End_Lat": "dropoff_latitude",
        "Passenger_Count": "passengers",
        "passenger_count": "passengers",
        "Fare_Amt": "cost",
        "fare_amount": "cost",
        "Trip_Distance": "distance",
        "trip_distance": "distance"
    })
    .keep_columns(columns=useful_columns))
yellow_df.head(5)

,vendor,pickup_datetime,dropoff_datetime,passengers,distance,pickup_longitude,pickup_latitude,store_forward,dropoff_longitude,dropoff_latitude,cost
0,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,2.6299999999999999,-73.991956999999999,40.721567,None,-73.993803,40.695922000000003,8.9000000000000004
1,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,4.5499999999999998,-73.982101999999998,40.736289999999997,None,-73.955849999999998,40.768030000000003,12.1
2,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,10.35,-74.002587000000005,40.739747999999999,None,-73.869983000000005,40.770225000000003,23.699999999999999
3,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,5,-73.974266999999998,40.790954999999997,None,-73.996557999999993,40.731848999999997,14.9
4,DDS,2009-01-24 16:18:23,2009-01-24 16:24:56,1,0.40000000000000002,-74.001580000000004,40.719382000000003,None,-74.008377999999993,40.720350000000003,3.7000000000000002

In [19]:
combined_df = green_df.append_rows([yellow_df])

In [29]:

decimal_type = dprep.TypeConverter(data_type=dprep.FieldType.DECIMAL)
combined_df = combined_df.set_column_types(type_conversions={
    "pickup_longitude": decimal_type,
    "pickup_latitude": decimal_type,
    "dropoff_longitude": decimal_type,
    "dropoff_latitude": decimal_type
})
combined_df.keep_columns(columns=[
    "pickup_longitude", "pickup_latitude",
    "dropoff_longitude", "dropoff_latitude"
]).get_profile()

ColumnProfile:
    column_name: pickup_longitude
    type: FieldType.DECIMAL

    min: -115.17933654785156
    max: 0.0
    count: 7821.0
    missing_count: 0.0
    not_missing_count: 7821.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -80.02003484562465
           1%: -73.96327505334597
           5%: -73.96370363235475
          25%: -73.94862645269899
          50%: -73.92287611248696
          75%: -73.84618838349073
          95%: 0.0
          99%: 0.0
        99.9%: 0.0

    mean: -68.89872787497673
    std: 18.682200424494315
    variance: 349.0246127009756
    skewness: 3.3968830906644167
    kurtosis: 9.65922988524884

ColumnProfile:
    column_name: pickup_latitude
    type: FieldType.DECIMAL

    min: 0.0
    max: 40.91912078857422
    count: 7821.0
    missing_count: 0.0
    not_missing_count: 7821.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.0
           1%: 40.68543132630663
           5%: 40.68327245172465
          25%: 40.721164399797146
          50%: 40.75615001111744
          75%: 40.803988669734416
          95%: 40.84925973421218
          99%: 40.87013455703232
        99.9%: 40.89191814302717

    mean: 37.97237324440432
    std: 10.285085720672928
    variance: 105.78298828159016
    skewness: -3.418050379618033
    kurtosis: 9.691663586425584

ColumnProfile:
    column_name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -115.17933654785156
    max: 0.0
    count: 7821.0
    missing_count: 0.0
    not_missing_count: 7821.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -85.25319580569797
           1%: -73.98519975698147
           5%: -73.98579557242185
          25%: -73.95713592060986
          50%: -73.93011156267738
          75%: -73.86672153978253
          95%: 0.0
          99%: 0.0
        99.9%: 0.0

    mean: -68.96116334856436
    std: 18.58644924732727
    variance: 345.4560956234725
    skewness: 3.4205666920649174
    kurtosis: 9.823180496119674

ColumnProfile:
    column_name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 0.0
    max: 41.008934020996094
    count: 7821.0
    missing_count: 0.0
    not_missing_count: 7821.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.0
           1%: 40.66563951468186
           5%: 40.66191609700521
          25%: 40.71831518648027
          50%: 40.75660718928749
          75%: 40.78388697890443
          95%: 40.85208844034705
          99%: 40.87961262516244
        99.9%: 40.92507178264194

    mean: 37.99908440161833
    std: 10.23018840528295
    variance: 104.65675480758573
    skewness: -3.4420538176112627
    kurtosis: 9.856544474465139

In [30]:

latlong_filtered_df = (combined_df
    .drop_nulls(
        columns=["pickup_longitude", "pickup_latitude", "dropoff_longitude", "dropoff_latitude"],
        column_relationship=dprep.ColumnRelationship(dprep.ColumnRelationship.ANY)
    )
    .filter(dprep.f_and(
        dprep.col("pickup_longitude") <= -73.72,
        dprep.col("pickup_longitude") >= -74.09,
        dprep.col("pickup_latitude") <= 40.88,
        dprep.col("pickup_latitude") >= 40.53,
        dprep.col("dropoff_longitude") <= -73.72,
        dprep.col("dropoff_longitude") >= -74.09,
        dprep.col("dropoff_latitude") <= 40.88,
        dprep.col("dropoff_latitude") >= 40.53
    )))
latlong_filtered_df.keep_columns(columns=[
    "pickup_longitude", "pickup_latitude",
    "dropoff_longitude", "dropoff_latitude"
]).get_profile()

ColumnProfile:
    column_name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.07800495910645
           1%: -73.9638987099072
           5%: -73.96399193619052
          25%: -73.94948645963127
          50%: -73.92936420248408
          75%: -73.86861771130171
          95%: -73.83046139425237
          99%: -73.82445373888983
        99.9%: -73.76963703104654

    mean: -73.91478407411482
    std: 0.04904857906887633
    variance: 0.0024057631086758136
    skewness: 0.40343220430988064
    kurtosis: -0.6164518353378066

ColumnProfile:
    column_name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.63338865661621
           1%: 40.713281042916435
           5%: 40.71310997009277
          25%: 40.72137837022491
          50%: 40.75813739749238
          75%: 40.80499586747799
          95%: 40.84865829155451
          99%: 40.86752366872934
        99.9%: 40.87776442654928

    mean: 40.76503793441971
    std: 0.04810713885266194
    variance: 0.002314296808589296
    skewness: 0.2373288555835843
    kurtosis: -0.5772941831291791

ColumnProfile:
    column_name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.07816271972656
           1%: -73.98619085107264
           5%: -73.98647066441978
          25%: -73.9600935056832
          50%: -73.93721915477977
          75%: -73.8856985095796
          95%: -73.81574148456515
          99%: -73.77671872283037
        99.9%: -73.73357423858643

    mean: -73.92136698821716
    std: 0.0560233630037521
    variance: 0.00313861720225018
    skewness: 0.6605210308231966
    kurtosis: 0.029285453448317345

ColumnProfile:
    column_name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.600511351052816
           1%: 40.69577933259762
           5%: 40.69573910167969
          25%: 40.727841430809164
          50%: 40.75816257015553
          75%: 40.7873313649586
          95%: 40.85038470827606
          99%: 40.86780882718966
        99.9%: 40.87869091960362

    mean: 40.75940169811441
    std: 0.050253279650634336
    variance: 0.002525392115644859
    skewness: 0.04866021533901158
    kurtosis: -0.013011986470482295

In [31]:
latlong_filtered_df.keep_columns(columns='store_forward').get_profile()

ColumnProfile:
    column_name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 7158.0
    missing_count: 198.0
    not_missing_count: 6960.0
    percent_missing: 0.027661357921207042
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3

In [32]:
replaced_stfor_vals_df = latlong_filtered_df.replace(columns="store_forward", find="0", replace_with="N").fill_nulls("store_forward", "N")

In [33]:
replaced_distance_vals_df = replaced_stfor_vals_df.replace(columns="distance", find=".00", replace_with=0).fill_nulls("distance", 0)
replaced_distance_vals_df = replaced_distance_vals_df.to_number(["distance"])

In [34]:
time_split_df = (replaced_distance_vals_df
    .split_column_by_example(source_column="pickup_datetime")
    .split_column_by_example(source_column="dropoff_datetime"))
time_split_df.head(5)

,vendor,pickup_datetime,pickup_datetime_1,pickup_datetime_2,dropoff_datetime,dropoff_datetime_1,dropoff_datetime_2,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 17:22:00,2013-08-01,17:22:00,2013-08-01 17:22:00,2013-08-01,17:22:00,N,-73.937767,40.758480,-73.937767,40.758480,1,0.0,2.5
1,2,2013-08-01 17:24:00,2013-08-01,17:24:00,2013-08-01 17:25:00,2013-08-01,17:25:00,N,-73.937927,40.757843,-73.937927,40.757843,1,0.0,2.5
2,2,2013-08-06 06:51:19,2013-08-06,06:51:19,2013-08-06 06:51:36,2013-08-06,06:51:36,N,-73.937721,40.758404,-73.937721,40.758369,1,0.0,3.3
3,2,2013-08-06 13:26:34,2013-08-06,13:26:34,2013-08-06 13:26:57,2013-08-06,13:26:57,N,-73.937691,40.758419,-73.937790,40.758358,1,0.0,3.3
4,2,2013-08-06 13:27:53,2013-08-06,13:27:53,2013-08-06 13:28:08,2013-08-06,13:28:08,N,-73.937805,40.758396,-73.937775,40.758450,1,0.0,3.3

In [35]:
renamed_col_df = (time_split_df
    .rename_columns(column_pairs={
        "pickup_datetime_1": "pickup_date",
        "pickup_datetime_2": "pickup_time",
        "dropoff_datetime_1": "dropoff_date",
        "dropoff_datetime_2": "dropoff_time"
    }))
renamed_col_df.head(5)

,vendor,pickup_datetime,pickup_date,pickup_time,dropoff_datetime,dropoff_date,dropoff_time,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 17:22:00,2013-08-01,17:22:00,2013-08-01 17:22:00,2013-08-01,17:22:00,N,-73.937767,40.758480,-73.937767,40.758480,1,0.0,2.5
1,2,2013-08-01 17:24:00,2013-08-01,17:24:00,2013-08-01 17:25:00,2013-08-01,17:25:00,N,-73.937927,40.757843,-73.937927,40.757843,1,0.0,2.5
2,2,2013-08-06 06:51:19,2013-08-06,06:51:19,2013-08-06 06:51:36,2013-08-06,06:51:36,N,-73.937721,40.758404,-73.937721,40.758369,1,0.0,3.3
3,2,2013-08-06 13:26:34,2013-08-06,13:26:34,2013-08-06 13:26:57,2013-08-06,13:26:57,N,-73.937691,40.758419,-73.937790,40.758358,1,0.0,3.3
4,2,2013-08-06 13:27:53,2013-08-06,13:27:53,2013-08-06 13:28:08,2013-08-06,13:28:08,N,-73.937805,40.758396,-73.937775,40.758450,1,0.0,3.3

In [36]:
renamed_col_df.get_profile()

ColumnProfile:
    column_name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 5


ColumnProfile:
    column_name: pickup_datetime
    type: FieldType.STRING

    min: 2009-01-01 20:52:58
    max: 2013-08-31 23:59:14
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


ColumnProfile:
    column_name: pickup_date
    type: FieldType.STRING

    min: 2009-01-01
    max: 2013-08-31
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 41


ColumnProfile:
    column_name: pickup_time
    type: FieldType.STRING

    min: 00:00:48
    max: 23:59:48
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


ColumnProfile:
    column_name: dropoff_datetime
    type: FieldType.STRING

    min: 2009-01-01 21:14:00
    max: 2013-09-01 00:25:07
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


ColumnProfile:
    column_name: dropoff_date
    type: FieldType.STRING

    min: 2009-01-01
    max: 2013-09-01
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 42


ColumnProfile:
    column_name: dropoff_time
    type: FieldType.STRING

    min: 00:00:00
    max: 23:59:45
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


ColumnProfile:
    column_name: store_forward
    type: FieldType.STRING

    min: N
    max: Y
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 2


ColumnProfile:
    column_name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.07800495910645
           1%: -73.9638987099072
           5%: -73.96399193619052
          25%: -73.94948645963127
          50%: -73.92936420248408
          75%: -73.86861771130171
          95%: -73.83046139425237
          99%: -73.82445373888983
        99.9%: -73.76963703104654

    mean: -73.91478407411482
    std: 0.04904857906887633
    variance: 0.0024057631086758136
    skewness: 0.40343220430988064
    kurtosis: -0.6164518353378066

ColumnProfile:
    column_name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.63338865661621
           1%: 40.713281042916435
           5%: 40.71310997009277
          25%: 40.72137837022491
          50%: 40.75813739749238
          75%: 40.80499586747799
          95%: 40.84865829155451
          99%: 40.86752366872934
        99.9%: 40.87776442654928

    mean: 40.76503793441971
    std: 0.04810713885266194
    variance: 0.002314296808589296
    skewness: 0.2373288555835843
    kurtosis: -0.5772941831291791

ColumnProfile:
    column_name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.07816271972656
           1%: -73.98619085107264
           5%: -73.98647066441978
          25%: -73.9600935056832
          50%: -73.93721915477977
          75%: -73.8856985095796
          95%: -73.81574148456515
          99%: -73.77671872283037
        99.9%: -73.73357423858643

    mean: -73.92136698821716
    std: 0.0560233630037521
    variance: 0.00313861720225018
    skewness: 0.6605210308231966
    kurtosis: 0.029285453448317345

ColumnProfile:
    column_name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.600511351052816
           1%: 40.69577933259762
           5%: 40.69573910167969
          25%: 40.727841430809164
          50%: 40.75816257015553
          75%: 40.7873313649586
          95%: 40.85038470827606
          99%: 40.86780882718966
        99.9%: 40.87869091960362

    mean: 40.75940169811441
    std: 0.050253279650634336
    variance: 0.002525392115644859
    skewness: 0.04866021533901158
    kurtosis: -0.013011986470482295

ColumnProfile:
    column_name: passengers
    type: FieldType.STRING

    min: 1
    max: 6
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 6


ColumnProfile:
    column_name: distance
    type: FieldType.DECIMAL

    min: 0.0
    max: 32.34
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.8887907647907649
          50%: 2.007431752873563
          75%: 4.251774193548387
          95%: 10.104568990042667
          99%: 14.659730000000001
        99.9%: 20.367794333333276

    mean: 3.0834464934339274
    std: 3.296420537120983
    variance: 10.866388357552992
    skewness: 1.935465057631336
    kurtosis: 5.125516962812455

ColumnProfile:
    column_name: cost
    type: FieldType.STRING

    min: 0
    max: 90
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 186

In [37]:
transformed_features_df = (renamed_col_df
    .derive_column_by_example(
        source_columns="pickup_date",
        new_column_name="pickup_weekday",
        example_data=[("2009-01-04", "Sunday"), ("2013-08-22", "Thursday")]
    )
    .derive_column_by_example(
        source_columns="dropoff_date",
        new_column_name="dropoff_weekday",
        example_data=[("2013-08-22", "Thursday"), ("2013-11-03", "Sunday")]
    )

    .split_column_by_example(source_column="pickup_time")
    .split_column_by_example(source_column="dropoff_time")
    # The following two calls to split_column_by_example reference the column names generated from the previous two calls.
    .split_column_by_example(source_column="pickup_time_1")
    .split_column_by_example(source_column="dropoff_time_1")
    .drop_columns(columns=[
        "pickup_date", "pickup_time", "dropoff_date", "dropoff_time",
        "pickup_date_1", "dropoff_date_1", "pickup_time_1", "dropoff_time_1"
    ])

    .rename_columns(column_pairs={
        "pickup_date_2": "pickup_month",
        "pickup_date_3": "pickup_monthday",
        "pickup_time_1_1": "pickup_hour",
        "pickup_time_1_2": "pickup_minute",
        "pickup_time_2": "pickup_second",
        "dropoff_date_2": "dropoff_month",
        "dropoff_date_3": "dropoff_monthday",
        "dropoff_time_1_1": "dropoff_hour",
        "dropoff_time_1_2": "dropoff_minute",
        "dropoff_time_2": "dropoff_second"
    }))

transformed_features_df.head(5)

,vendor,pickup_datetime,pickup_weekday,pickup_hour,pickup_minute,pickup_second,dropoff_datetime,dropoff_weekday,dropoff_hour,dropoff_minute,dropoff_second,store_forward,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passengers,distance,cost
0,2,2013-08-01 17:22:00,Thursday,17,22,00,2013-08-01 17:22:00,Thursday,17,22,00,N,-73.937767,40.758480,-73.937767,40.758480,1,0.0,2.5
1,2,2013-08-01 17:24:00,Thursday,17,24,00,2013-08-01 17:25:00,Thursday,17,25,00,N,-73.937927,40.757843,-73.937927,40.757843,1,0.0,2.5
2,2,2013-08-06 06:51:19,Tuesday,06,51,19,2013-08-06 06:51:36,Tuesday,06,51,36,N,-73.937721,40.758404,-73.937721,40.758369,1,0.0,3.3
3,2,2013-08-06 13:26:34,Tuesday,13,26,34,2013-08-06 13:26:57,Tuesday,13,26,57,N,-73.937691,40.758419,-73.937790,40.758358,1,0.0,3.3
4,2,2013-08-06 13:27:53,Tuesday,13,27,53,2013-08-06 13:28:08,Tuesday,13,28,08,N,-73.937805,40.758396,-73.937775,40.758450,1,0.0,3.3

In [38]:
processed_df = transformed_features_df.drop_columns(columns=["pickup_datetime", "dropoff_datetime"])

In [39]:
type_infer = processed_df.builders.set_column_types()
type_infer.learn()
type_infer

Column types conversion candidates:
'pickup_weekday': [FieldType.STRING],
'pickup_hour': [FieldType.INTEGER],
'pickup_second': [FieldType.INTEGER],
'dropoff_minute': [FieldType.INTEGER],
'store_forward': [FieldType.BOOLEAN],
'pickup_minute': [FieldType.INTEGER],
'dropoff_weekday': [FieldType.STRING],
'vendor': [FieldType.STRING],
'dropoff_hour': [FieldType.INTEGER],
'dropoff_second': [FieldType.INTEGER],
'pickup_longitude': [FieldType.DECIMAL],
'pickup_latitude': [FieldType.DECIMAL],
'dropoff_longitude': [FieldType.DECIMAL],
'dropoff_latitude': [FieldType.DECIMAL],
'passengers': [FieldType.INTEGER],
'distance': [FieldType.DECIMAL],
'cost': [FieldType.DECIMAL]

In [40]:

type_converted_df = type_infer.to_dataflow()
type_converted_df.get_profile()

ColumnProfile:
    column_name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 5


ColumnProfile:
    column_name: pickup_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 7


ColumnProfile:
    column_name: pickup_hour
    type: FieldType.INTEGER

    min: 0.0
    max: 23.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


    Quantiles (est.):
         0.1%: 0.0
           1%: 3.6670203359858533
           5%: 3.0
          25%: 10.0
          50%: 16.0
          75%: 19.0
          95%: 22.083844241922108
          99%: 23.0
        99.9%: 23.0

    mean: 14.209136630343684
    std: 6.353495311850855
    variance: 40.36690267771079
    skewness: -0.6882797169389141
    kurtosis: -0.46983664444579265

ColumnProfile:
    column_name: pickup_minute
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.0
           5%: 5.0
          25%: 14.0
          50%: 29.46285426798591
          75%: 44.819329771733855
          95%: 56.719410319410294
          99%: 59.0
        99.9%: 59.0

    mean: 29.463257893266356
    std: 17.444816432033395
    variance: 304.32162034734233
    skewness: 0.004053927017701657
    kurtosis: -1.2053483454730696

ColumnProfile:
    column_name: pickup_second
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.0
           5%: 5.0
          25%: 14.644628099173552
          50%: 29.954761904761902
          75%: 44.44958136148526
          95%: 56.90559440559439
          99%: 59.0
        99.9%: 59.0

    mean: 29.61050572785697
    std: 17.394493587038973
    variance: 302.56840714953995
    skewness: -0.023790059702808078
    kurtosis: -1.1945764208212328

ColumnProfile:
    column_name: dropoff_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 7


ColumnProfile:
    column_name: dropoff_hour
    type: FieldType.INTEGER

    min: 0.0
    max: 23.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


    Quantiles (est.):
         0.1%: 0.0
           1%: 3.0
           5%: 3.0
          25%: 10.0
          50%: 16.0
          75%: 19.0
          95%: 22.0
          99%: 23.0
        99.9%: 23.0

    mean: 14.158284436993561
    std: 6.458838445599369
    variance: 41.71659406635248
    skewness: -0.6861190963386373
    kurtosis: -0.5101643747595377

ColumnProfile:
    column_name: dropoff_minute
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.07263533610946
           5%: 5.0
          25%: 14.0
          50%: 28.993745774171742
          75%: 43.99150221886508
          95%: 56.906698564593306
          99%: 59.0
        99.9%: 59.0

    mean: 29.323554065381376
    std: 17.427590866253034
    variance: 303.72092340150624
    skewness: 0.017034213652517154
    kurtosis: -1.2147633409986038

ColumnProfile:
    column_name: dropoff_second
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.0
           5%: 5.0
          25%: 14.821493624772312
          50%: 29.7020854021847
          75%: 45.23224996512763
          95%: 56.0
          99%: 59.0
        99.9%: 59.0

    mean: 29.791701592623646
    std: 17.489102885093544
    variance: 305.8687197253873
    skewness: -0.03119833140316981
    kurtosis: -1.2195737439830165

ColumnProfile:
    column_name: store_forward
    type: FieldType.BOOLEAN

    min: False
    max: True
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 2


ColumnProfile:
    column_name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07815551757812
    max: -73.73648071289062
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.07800495910645
           1%: -73.9638987099072
           5%: -73.96399193619052
          25%: -73.94948645963127
          50%: -73.92936420248408
          75%: -73.86861771130171
          95%: -73.83046139425237
          99%: -73.82445373888983
        99.9%: -73.76963703104654

    mean: -73.91478407411482
    std: 0.04904857906887633
    variance: 0.0024057631086758136
    skewness: 0.40343220430988064
    kurtosis: -0.6164518353378066

ColumnProfile:
    column_name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.63338865661621
           1%: 40.713281042916435
           5%: 40.71310997009277
          25%: 40.72137837022491
          50%: 40.75813739749238
          75%: 40.80499586747799
          95%: 40.84865829155451
          99%: 40.86752366872934
        99.9%: 40.87776442654928

    mean: 40.76503793441971
    std: 0.04810713885266194
    variance: 0.002314296808589296
    skewness: 0.2373288555835843
    kurtosis: -0.5772941831291791

ColumnProfile:
    column_name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.07816271972656
           1%: -73.98619085107264
           5%: -73.98647066441978
          25%: -73.9600935056832
          50%: -73.93721915477977
          75%: -73.8856985095796
          95%: -73.81574148456515
          99%: -73.77671872283037
        99.9%: -73.73357423858643

    mean: -73.92136698821716
    std: 0.0560233630037521
    variance: 0.00313861720225018
    skewness: 0.6605210308231966
    kurtosis: 0.029285453448317345

ColumnProfile:
    column_name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.600511351052816
           1%: 40.69577933259762
           5%: 40.69573910167969
          25%: 40.727841430809164
          50%: 40.75816257015553
          75%: 40.7873313649586
          95%: 40.85038470827606
          99%: 40.86780882718966
        99.9%: 40.87869091960362

    mean: 40.75940169811441
    std: 0.050253279650634336
    variance: 0.002525392115644859
    skewness: 0.04866021533901158
    kurtosis: -0.013011986470482295

ColumnProfile:
    column_name: passengers
    type: FieldType.INTEGER

    min: 1.0
    max: 6.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 6


    Quantiles (est.):
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 5.0
          95%: 5.0
          99%: 6.0
        99.9%: 6.0

    mean: 2.316429170159258
    std: 1.7929070163606515
    variance: 3.2145155693152536
    skewness: 0.8509409045319464
    kurtosis: -1.0794902232493853

ColumnProfile:
    column_name: distance
    type: FieldType.DECIMAL

    min: 0.0
    max: 32.34
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.0
           5%: 0.0
          25%: 0.8887907647907649
          50%: 2.007431752873563
          75%: 4.251774193548387
          95%: 10.104568990042667
          99%: 14.659730000000001
        99.9%: 20.367794333333276

    mean: 3.0834464934339274
    std: 3.296420537120983
    variance: 10.866388357552992
    skewness: 1.935465057631336
    kurtosis: 5.125516962812455

ColumnProfile:
    column_name: cost
    type: FieldType.DECIMAL

    min: 0.0
    max: 444.0
    count: 7158.0
    missing_count: 0.0
    not_missing_count: 7158.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 185


    Quantiles (est.):
         0.1%: 0.0
           1%: 3.0900291545189513
           5%: 3.0
          25%: 5.9457983834070465
          50%: 9.500082508250825
          75%: 16.4853282606575
          95%: 33.406049999999986
          99%: 52.0
        99.9%: 75.13335714285574

    mean: 12.867985470801884
    std: 11.601155586724675
    variance: 134.58681094739313
    skewness: 8.676888808799262
    kurtosis: 270.25627243514947

In [41]:
final_df = type_converted_df.filter(dprep.col("distance") > 0)
final_df = final_df.filter(dprep.col("cost") > 0)

In [42]:
import os
file_path = os.path.join(os.getcwd(), "dflows.dprep")

final_df.save(file_path)

# Data preprocesed
# ===============================
# AutoML start

In [43]:
import azureml.core
import pandas as pd
from azureml.core.workspace import Workspace
import logging
import os

In [44]:
ws = Workspace.from_config()
# choose a name for the run history container in the workspace
experiment_name = 'automated-ml-regression'
# project folder
project_folder = './automated-ml-regression'

output = {}
output['SDK version'] = azureml.core.VERSION
output['Subscription ID'] = ws.subscription_id
output['Workspace'] = ws.name
output['Resource Group'] = ws.resource_group
output['Location'] = ws.location
output['Project Directory'] = project_folder
pd.set_option('display.max_colwidth', -1)
outputDf = pd.DataFrame(data = output, index = [''])
outputDf.T

Location           canadacentral
Project Directory  ./automated-ml-regression
Resource Group     ICSE-tutorial
SDK version        1.0.39
Subscription ID    942813ed-26a2-4790-9097-d4be7560fce0
Workspace          workspace_fresher

In [45]:
import azureml.dataprep as dprep

file_path = os.path.join(os.getcwd(), "dflows.dprep")

dflow_prepared = dprep.Dataflow.open(file_path)
dflow_prepared.get_profile()

ColumnProfile:
    column_name: vendor
    type: FieldType.STRING

    min: 1
    max: VTS
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 5


ColumnProfile:
    column_name: pickup_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 7


ColumnProfile:
    column_name: pickup_hour
    type: FieldType.INTEGER

    min: 0.0
    max: 23.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


    Quantiles (est.):
         0.1%: 0.0
           1%: 2.99166144200627
           5%: 2.872727272727273
          25%: 9.865900383141762
          50%: 16.0
          75%: 19.272148058252426
          95%: 22.85497076023392
          99%: 23.0
        99.9%: 23.0

    mean: 14.245276977265473
    std: 6.593956469136421
    variance: 43.48026191686605
    skewness: -0.687416212462369
    kurtosis: -0.5809758958976827

ColumnProfile:
    column_name: pickup_minute
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.108647450110865
           5%: 5.0
          25%: 13.997445721583652
          50%: 29.25862068965517
          75%: 44.91256157635467
          95%: 56.63749999999999
          99%: 59.0
        99.9%: 59.0

    mean: 29.423631123919325
    std: 17.43845667897403
    variance: 304.099771344454
    skewness: 0.011851789911570787
    kurtosis: -1.2103627661582281

ColumnProfile:
    column_name: pickup_second
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.324043062200959
           5%: 5.0
          25%: 14.834823163622232
          50%: 29.98028756957328
          75%: 44.8506384408602
          95%: 56.95812356979405
          99%: 59.0
        99.9%: 59.0

    mean: 29.727345501120713
    std: 17.36985539961196
    variance: 301.71187660342883
    skewness: -0.026214210994499363
    kurtosis: -1.196802006616629

ColumnProfile:
    column_name: dropoff_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 7


ColumnProfile:
    column_name: dropoff_hour
    type: FieldType.INTEGER

    min: 0.0
    max: 23.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


    Quantiles (est.):
         0.1%: 0.0
           1%: 2.4896631823461104
           5%: 2.0
          25%: 9.503405017921148
          50%: 16.0
          75%: 19.5775
          95%: 22.900900900900897
          99%: 23.0
        99.9%: 23.0

    mean: 14.183157220621164
    std: 6.710942131904854
    variance: 45.03674429777568
    skewness: -0.6812671688478491
    kurtosis: -0.6292118506408881

ColumnProfile:
    column_name: dropoff_minute
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.357777777777778
           5%: 5.0
          25%: 14.080500894454383
          50%: 28.78265412748171
          75%: 43.99366471734893
          95%: 56.87064777327935
          99%: 59.0
        99.9%: 59.0

    mean: 29.25408261287224
    std: 17.413741529556088
    variance: 303.2383940581864
    skewness: 0.025564284180288773
    kurtosis: -1.217104997118794

ColumnProfile:
    column_name: dropoff_second
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.0
           5%: 5.0
          25%: 14.660940325497288
          50%: 29.668041237113396
          75%: 45.34623655913978
          95%: 56.290953072085145
          99%: 59.0
        99.9%: 59.0

    mean: 29.775536343259642
    std: 17.54068039408592
    variance: 307.6754686874702
    skewness: -0.025091709982548196
    kurtosis: -1.2256060606422468

ColumnProfile:
    column_name: store_forward
    type: FieldType.BOOLEAN

    min: False
    max: True
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 2


ColumnProfile:
    column_name: pickup_longitude
    type: FieldType.DECIMAL

    min: -74.07810974121094
    max: -73.74594116210938
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.07281646946498
           1%: -73.96593198304791
           5%: -73.966233764202
          25%: -73.95141041463619
          50%: -73.92623883889516
          75%: -73.85319055796438
          95%: -73.83017669599883
          99%: -73.82503001134536
        99.9%: -73.77053216734387

    mean: -73.91341464123181
    std: 0.05075612736983242
    variance: 0.002576184465582652
    skewness: 0.3563946391280433
    kurtosis: -0.9181612029188724

ColumnProfile:
    column_name: pickup_latitude
    type: FieldType.DECIMAL

    min: 40.57548522949219
    max: 40.879852294921875
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.63208588736398
           1%: 40.71211462956
           5%: 40.71175177437919
          25%: 40.721325696770755
          50%: 40.75653618911956
          75%: 40.80546958683996
          95%: 40.84762917168055
          99%: 40.86744122295557
        99.9%: 40.877720659746444

    mean: 40.76464383661796
    std: 0.04918101993794544
    variance: 0.002418772722136587
    skewness: 0.21606381857303084
    kurtosis: -0.754552038410917

ColumnProfile:
    column_name: dropoff_longitude
    type: FieldType.DECIMAL

    min: -74.08574676513672
    max: -73.72087097167969
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: -74.0779607747396
           1%: -73.98784854402322
           5%: -73.98822541133173
          25%: -73.9648653517476
          50%: -73.93597475650749
          75%: -73.87689615924222
          95%: -73.81327211606754
          99%: -73.77588492333471
        99.9%: -73.7328576273237

    mean: -73.92098827261344
    std: 0.058501579419135336
    variance: 0.003422434794533399
    skewness: 0.6386723219241042
    kurtosis: -0.25017498597300003

ColumnProfile:
    column_name: dropoff_latitude
    type: FieldType.DECIMAL

    min: 40.58353042602539
    max: 40.87973403930664
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 40.59730233713786
           1%: 40.69292397801125
           5%: 40.69220459461212
          25%: 40.72277828057607
          50%: 40.756803213192995
          75%: 40.791328682707935
          95%: 40.84936069689299
          99%: 40.86793094907489
        99.9%: 40.878791913350426

    mean: 40.75824112035917
    std: 0.05148819132689238
    variance: 0.0026510338461146754
    skewness: 0.03881132271096362
    kurtosis: -0.17712593230502804

ColumnProfile:
    column_name: passengers
    type: FieldType.INTEGER

    min: 1.0
    max: 6.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 6


    Quantiles (est.):
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 5.0
          95%: 5.0
          99%: 6.0
        99.9%: 6.0

    mean: 2.3759205891770705
    std: 1.8242797346619317
    variance: 3.3279965502982076
    skewness: 0.7833067231372269
    kurtosis: -1.2002006274890153

ColumnProfile:
    column_name: distance
    type: FieldType.DECIMAL

    min: 0.01
    max: 32.34
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.01
           1%: 0.7411484848484847
           5%: 0.7374999999999998
          25%: 1.232807447697959
          50%: 2.386986607142857
          75%: 4.73943722943723
          95%: 10.424099999999996
          99%: 14.97199696969697
        99.9%: 20.686621142857046

    mean: 3.5335062439961558
    std: 3.295919116176444
    variance: 10.863082820377311
    skewness: 1.92641164370996
    kurtosis: 5.041454442088229

ColumnProfile:
    column_name: cost
    type: FieldType.DECIMAL

    min: 0.1
    max: 88.0
    count: 6246.0
    missing_count: 0.0
    not_missing_count: 6246.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 161


    Quantiles (est.):
         0.1%: 2.5
           1%: 5.0
           5%: 5.0
          25%: 6.943607492311993
          50%: 10.493229166666667
          75%: 17.397238467660998
          95%: 33.31858385093167
          99%: 51.2792380952381
        99.9%: 62.22924999999975

    mean: 13.624159462055738
    std: 9.644531127975622
    variance: 93.01698067849073
    skewness: 1.7945292493823004
    kurtosis: 4.176209930305014

In [46]:

dflow_X = dflow_prepared.keep_columns(['pickup_weekday','pickup_hour', 'distance','passengers', 'vendor'])
dflow_y = dflow_prepared.keep_columns('cost')

In [47]:
from sklearn.model_selection import train_test_split


x_df = dflow_X.to_pandas_dataframe()
y_df = dflow_y.to_pandas_dataframe()

x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, test_size=0.2, random_state=223)
# flatten y_train to 1d array
y_train.values.flatten()

array([ 5.5, 10.5,  8. , ..., 11. , 33.5,  6.7])

In [48]:
automl_settings = {
    "iteration_timeout_minutes" : 10,
    "iterations" : 30,
    "primary_metric" : 'spearman_correlation',
    "preprocess" : True,
    "verbosity" : logging.INFO,
    "n_cross_validations": 5
}

In [49]:
from azureml.train.automl import AutoMLConfig

# local compute 
automated_ml_config = AutoMLConfig(task = 'regression',
                             debug_log = 'automated_ml_errors.log',
                             path = project_folder,
                             X = x_train.values,
                             y = y_train.values.flatten(),
                             **automl_settings)

In [ ]:
from azureml.core.experiment import Experiment
experiment=Experiment(ws, experiment_name)
local_run = experiment.submit(automated_ml_config, show_output=True)

Running on local machine
Parent Run ID: AutoML_c12516df-c745-4f1e-912d-bb0f29224047
Current status: DatasetFeaturization. Beginning to featurize the dataset.
Current status: DatasetEvaluation. Gathering dataset statistics.
Current status: FeaturesGeneration. Generating features for the dataset.
Current status: DatasetFeaturizationCompleted. Completed featurizing the dataset.
Current status: DatasetCrossValidationSplit. Generating individually featurized CV splits.
Current status: ModelSelection. Beginning model selection.

****************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
****************************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         0   StandardScalerWrapper RandomForest             0:00:14       0.8259    0.8259
         1   MaxAbsScaler RandomForest                      0:00:09       0.9433    0.9433
         2   StandardScalerWrapper ExtremeRandomTrees       0:00:08       0.9408    0.9433
         3   StandardScalerWrapper LightGBM                 0:00:07       0.9217    0.9433
         4   StandardScalerWrapper RandomForest             0:00:07       0.8491    0.9433
         5   MaxAbsScaler ExtremeRandomTrees                0:00:08       0.9360    0.9433
         6   StandardScalerWrapper ExtremeRandomTrees       0:00:07       0.9302    0.9433
         7   MaxAbsScaler DecisionTree                      0:00:08       0.9351    0.9433
         8   MaxAbsScaler ExtremeRandomTrees                0:00:07       0.9397    0.9433
         9   MaxAbsScaler SGD                               0:00:07       0.8726    0.9433
        10   StandardScalerWrapper RandomForest             0:00:07       0.8810    0.9433
        11   StandardScalerWrapper DecisionTree             0:00:08       0.9022    0.9433
        12   MaxAbsScaler SGD                               0:00:07       0.9469    0.9469
        13   MaxAbsScaler DecisionTree                      0:00:07       0.9221    0.9469
        14   StandardScalerWrapper RandomForest             0:00:07       0.9409    0.9469
        15   MaxAbsScaler RandomForest                      0:00:07       0.8144    0.9469
        16   MaxAbsScaler ElasticNet                        0:00:07       0.9523    0.9523
        17   MaxAbsScaler ExtremeRandomTrees                0:00:07       0.8636    0.9523
        18   MaxAbsScaler DecisionTree                      0:00:07       0.9397    0.9523
        19   StandardScalerWrapper RandomForest             0:00:07       0.8517    0.9523
        20   StandardScalerWrapper ElasticNet               0:00:08       0.9523    0.9523
        21   MaxAbsScaler RandomForest                      0:00:19       0.9349    0.9523
        22   MaxAbsScaler LightGBM                          0:00:16       0.9188    0.9523
        23   StandardScalerWrapper ElasticNet               0:00:08       0.9523    0.9523
        24   StandardScalerWrapper ElasticNet               0:00:08       0.9523    0.9523
        25   TruncatedSVDWrapper ElasticNet                 0:00:09       0.9523    0.9523
        26   MaxAbsScaler SGD                               0:00:10       0.9528    0.9528
        27   StandardScalerWrapper ElasticNet               0:00:08       0.9523    0.9528
        28   VotingEnsemble                                 0:00:25       0.9545    0.9545
        29

In [ ]:
from azureml.widgets import RunDetails
RunDetails(local_run).show()